shinylive==0.1.1
astral==2.2
shinyswatch==0.3.1
shiny==0.5.0
matplotlib==3.4.3
opencv_python_headless
streamlit
numpy
Pillow
torch
torchvision
PyYAML
tqdm
matplotlib
requests
scipy
tensorboard
pandas
seaborn
streamlit-webrtc
IPython
